<div class="main center">
    <div class="padding center clear block">
        <table id="AcoesMelhoria" class="tbl">
            <thead>
                <tr class="cabecalho1">
                    <th colspan="5" scope="colgroup">Ações de Melhoria</th>
                </tr>
                <tr class="cabecalho2">
                    <th scope="col" width="50px" valign="top">
                        <a class="btn btn-primary btn-xs" data-toggle="tooltip" href="javascript:void(0)" id="NovaMelhoria" title="Novo" role="button">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </a>
                        @*<a title="Novo" data-toggle="tooltip" id="NovaMelhoria">
                <span class="glyphicon glyphicon-plus"></span>
            </a>*@
                    </th>
                    <th scope="col" width="130px">Responsável</th>
                    <th scope="col" width="60px">Competência</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" width="120px">Valor (R$)</th>
                </tr>
            </thead>
        </table>

    </div>
</div>